.icon {

  width: 1.6em;
  height: auto;
    &.icon-github {
      content: url("../assets/icon-github.png");
    }

    &.icon-phone {
      content: url("../assets/icon-phone.png");
    }

    &.icon-email {
      content: url("../assets/icon-email.png");
    }

    &.icon-stackoverflow {
      content: url("../assets/icon-stackoverflow.png");
    }
    &.icon-linkedin {
      content: url("../assets/icon-linkedin.png");
    }

    &.icon-facebook {
      content: url("../assets/icon-facebook.png");
    }
    &.icon-instagram {
      content: url("../assets/icon-instagram.png");
    }
}

.geoart {
  content: url("../assets/geoart.png");
  object-fit: contain; 

  max-width: 100%; 
  max-height: 100%; 
}