
div.body {
  flex: 1 0 auto;
}

div.body {


  margin: 0.25em 0;
  display: flex;
  flex-flow: column nowrap;

  &> section, div {
    margin-left: 0;
    margin-right: 0;
    flex: 1 1 auto;
  }

  &>div:last-child, &>section:last-child {
    flex: 1 0 auto;
  }

}

.columns {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.column {
  flex: 1 0 50%;
  display: flex;
  flex-flow: column nowrap;

  &.column-left {
    flex: 0 0 50%;

    section {
      margin-left: 0;
    }
  }

  &.column-right {

    section {
      margin-right: 0;
    }
  }

  section {
    flex: 0 0 auto;

  }
  section:last-child{
    flex: 1 0 auto;
  }

}

.page-inner>section {
  margin: 0.5em 0;
}

section {
  border: solid 1px black;

  padding: 0.7em;

  margin: 0.5em;



}

section:first-child{
  flex: 1 0 auto;
}
