



table{

  margin-right: 1.5em;

  td{

    padding: 0.25em 0;

    &:first-child {

      padding-right:1em;
      vertical-align: middle;
    }


    span {
    }
  }

}



table.skills {

  thead, .row-header {
    font-weight: bold;
  }

  td {
    text-align: right;
    padding: 0 2em;
  }

  td:first-child{
    text-align:left;
  }

  thead td {
    padding-bottom: 2em;
  }

  td.row-header  {
    padding-bottom: 0.5em;
  }
}
