@import "a4";
@import "images";
@import "typography";
@import "lists";
@import "table";
@import "layout";
@import "contact-details";

.page {
  //border-color: red; // Use this to see safety margin;

}

.page-inner {
  //border: solid 1px black;
  //margin: 1em;
  margin: 2px;

  flex: 1 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  border-width: 1px;
  border-color: black;
  border-style: solid;

  padding: 1em;

  h1, h1+span {
    text-align: center;
    display: block;
  }

  .contact-details {
    margin-top: 1em;
    margin-left: 2em;
  }

  p:last-of-type {
    font-size: 0.8em;
    padding-right: 2em;
    margin-top: 1em;
    margin-left: 5em;
  }
}

footer {
  border-width: 1px;
  border-color: black;
  border-style: solid;

  padding: 1em;

  display: flex;
  justify-content: space-between;


  .about {
    flex: 0 0 20em;
  }

  .github {


    p {
      margin-top: 1em;
    }
  }

}

#profile {
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 2em;


}

#skill-set {
  //Style inner lists
&>div {

  h3 {
    margin: 0.3em 0;
  }

  padding-left: 0.4em;
  display: flex;
  flex-flow: row wrap;

  section {

    flex: 1 0 40%;

    border: none;
    padding: 0;
    margin: 0;


    &:nth-child(odd) {
      flex: 1 0 50%;
    }

    &:nth-child(even) {
      flex: 0 0 45%;
    }

  }
  }

}

#education {

  li {
    margin: 0.5em 0;
  }
}

#portfolio {

  display: grid;
  grid-template-columns: auto 35%;
  .link {
    display:block;
    text-decoration: underline;
    margin: 0.25em 0;
  }

  .column-right {
    padding-left: 0.5em;

    align-self: flex-end;;
  }

  .column-left{
    padding-right: 0.5em;
  }

  span.link {
    font-size: 0.95em;
  }

  img {
    align-self: center;
  }


}

#experience {
  font-size: 0.95em;
  li {
    margin: 0.2em;
  }

  p, h4 {
    margin-left: 0.5em;
  }

  h3 {
    margin-top: 0.6em;
    font-size: 1.4em;
    text-decoration: underline;
    display: inline;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-top: 0.6em;
  }

  .experience-job-title, .experience-time-period{
    display: inline;
  }

  .experience-job-title {
    //font-style: italic;
    font-weight: bold;
    //margin-left: 2em;

  }

  .experience-time-period {
    display:block;
    margin-top: 0.6em;
  }


  &>div {
    margin-bottom: 1em;

    &:last-of-type{
      margin-bottom: 0;
    }
  }



  .column-left {
    flex: 0 0 50%;
  }

  .column-right {
    margin-left: 1.5em;
    flex: 1 0 40%;
  }

}
