<div class="page">


  <div class="page-inner">
    <header>

      <div>
        <h1>David Johnston</h1>
        <span><strong>Full stack web developer</strong></span>



      </div>

      <div class="contact-details">
        <table class="contact-details">

          <tr>
            <td>
              <img class="icon icon-email" /> </td>
            <td>
              <span>david@blacksheepcode.com</span>
            </td>
          </tr>

          <tr>
            <td>
              <img class="icon icon-github" /> </td>
            <td>
              <span class="link">https://github.com/dwjohnston</span>
            </td>
          </tr>

          <tr>
            <td>
              <img class="icon icon-stackoverflow" /> </td>
            <td>
              <span>https://stackoverflow.com/users/1068446/dwjohnston</span>
            </td>
          </tr>

          <tr>
            <td>
              <img class="icon icon-linkedin" /> </td>
            <td>
              <span class="link">https://www.linkedin.com/in/davidjohnstonwebdeveloper</span>
            </td>
          </tr>



        </table>
      </div>
    </header>


    <div class="body">




      <section id="profile">

        <div>
          <h2> Profile</h2>


          <p>
            I am a full stack javascript developer with core experience on the frontend with React.
          </p>

          <p>I enjoy using modern frameworks to create slick and light feeling web applications and dashboards.

          </p>
          I like automated deployments and automated testing for tight development feedback loops.
          </p>

          <p>I like functional programming, because it's easier to test.</p>

          <p>
            I am active on Github and Stack Overflow and would encourage you to check out my profiles.
          </p>

          <p>
            I am looking for roles either in a highly capable team using modern technologies,
            or roles where I'll be
            instrumental in a tech stack transformation and getting people up to speed with modern development
            practises and patterns.
          </p>

        </div>

        <div>
          <h2>Core skillset </h2>

          <p>
            <ul>
              <li>
                JavaScript (ES5/ES6+)
              </li>
              <li>
                React
              </li>
              <li>
                Redux (thunk/saga)
              </li>
              <li>
                Jest
              </li>
              <li>
                Semantic HTML
              </li>
              <li>
                CSS
              </li>
              <li>CSS-in-JSS (React-Jss)</li>
              <li>
                NodeJs
              </li>
            </ul>
            <h3>Some experience, but not enough to call myself an expert: </h3>
            <ul>
              <li>Webpack</li>
              <li>Kubernetes</li>
              <li>Web Sockets</li>
              <li>MongoDB
              <li>Cloud agnostic microservices</li>

            </ul>

            <h3>Technologies on my radar:</h3>
            <ul>
              <li>GraphQL</li>
              <li>Static site generators</li>
              <li>CDNs</li>
              <li>Web Components</li>
              <li>HTML5 APIs </li>
              <li>Webhooks </li>
              <li>The Solid Project</li>
            </ul>


        </div>
      </section>

      <section id="education">
        <h2> Education and Certifications </h2>
        <ul>
          <li> University of Canterbury - Bachelor of Science (Computer Science) - 2012 </li>
          <li> University of Otago - Bachelor of Art (Philosophy) - 2007 </li>
          <li> Oracle Certified Associate - Java SE 8 Programmer</li>
        </ul>
      </section>
    </div>
  </div>
</div>


<div class="page">


  <div class="page-inner">
    <section id="experience">
      <h2>Commercial Experience</h2>



      <div>
        <h3>Dreamwalk</h3>
        <span class="experience-job-title"> Contract Frontend Developer </span>
        <span class="experience-time-period">September 2018 - November 2018 </span>

        <p class="job-summary">
          Sole charge responsible for building the frontend of an environmental impact platform over eight weeks.
        </p>
        <p><strong> React, Redux, Redux-Thunk, Redux-Persist, React-Router, Material-UI, JSS (CSS-in-JS), Jest, Enzyme,
            Heroku</strong> </p>
      </div>

      <div>
        <h3>Perplexico</h3>
        <span class="experience-job-title"> Contract Developer </span>
        <span class="experience-time-period">June 2018 - September 2018 </span>

        <p class="job-summary">
          Building a buyers/sellers matching platform for short term commercial real estate rentals.
        </p>
        <ul>
          <li>Backend transactional emails using Google Cloud Functions (NodeJs) and Postmark.</li>
          <li>Stripe payment integration.</li>
        </ul>

        <p>
          <strong> Angular, TypeScript, RxJS, Firebase, Google Cloud Functions
          </strong>
        </p>
      </div>

      <div>
        <h3>Datacom</h3>
        <span class="experience-job-title"> Developer </span>
        <span class="experience-time-period"> August 2016 - April 2018</span>

        <p class="job-summary">
          Developer for business unit providing Single Sign On and Digital Identity solutions.
        </p>
        <p>
          Responsible for implementing a mobile responsive design reskin of the RealMe digital identity
          platform.
        </p>

        <div class="">
          <h4> Capability improvement</h4>
          <ul>
            <li>Improved Maven assets build pipeline to automate
              development deployments. </li>
            <li>Implemented a proof of concept self-sovreign identity platform using the Indy Hyperledger blockchain
              framework.</li>
            <li>Created a project template to demonstrate a transition to using a React frontend and Docker/Kubernetes
              containerised architecture hosted on AWS, while retaining the existing Java stack.</li>
          </ul>

        </div>
        <p>
          <strong>Java 7/8, JaveEE, JSF, Maven, Vagrant, Git, Bash, CSS (Sass), Javascript
            (ES5/ES6), React,
            Webpack, NodeJs, MySQL, Docker, Kubernetes, AWS.</strong></p>
      </div>

      <div>
        <h3>Inland Revenue</h3>
        <span class="experience-job-title">Intelligence Analyst </span>
        <span class="experience-time-period"> January 2013 - August 2016</span>
        <p class="job-summary">

          <ul>
            <li>
              ETL developer for a big data intelligence project. Transforming disparate data sources into a coherent
              document structure.
            </li>
            <li>
              Created a browser-based web application for displaying/exploring Neo4j graph data.
            </li>
          </ul>


          <p>
            <strong>Java 7, Spring, JUnit, Maven, Neo4j, SVN, Angular (1.4.x), Bootstrap,
              CSS, Javascript
              (ES5), Oracle, SAS.</strong> </p>

        </p>
      </div>
    </section>

  </div>

</div>
